.App-header{
    padding: 15px;
}

.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.usernameBtn{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
}
.usernameElem{
    margin-right: 40px;
    align-items: center;
    display: flex;
}

.accountInfoContent{
    padding: 4px;
}

.sendReefContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sendReefContainerForm{
    max-width: 450px;
}

.sendReefContainerFormDestination{
    padding: 10px;
    max-width: 400px;
}

.sendReefBtn{
    background: transparent;
    outline: none;
    padding: 20px;
    border: 0px;
    min-width: 300px;
}

.send-reef-btn {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #c52cbc, #8332ca);
    box-shadow: 0 15px 30px -15px #8332ca;
    color: white;
    padding: 12px 20px;
    width: 90%;
    min-width: 380px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    position: relative;
    overflow: hidden;
    filter: brightness(1.05);
    transition: all 0.1s;
  }

  .sendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sendBtnText{
    color: white!important;
  }

  .uik-modal__popup{
    max-width: max-content!important;
  }

  .textBtn{
    margin-right: 80px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #898e9c;
  }

  .textBtn:hover{
    cursor: pointer;

    color: #5d3bad;
  }

.not-loggedin-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.source-code-at{
  display: flex;
  align-items: center;
}

.text-containers{
  max-width: 600px;
}